nodered-flow.json
[
  {
    "id": "envertech-tab",
    "type": "tab",
    "label": "Envertech → InfluxDB",
    "disabled": false,
    "info": "Reads Envertech solar data from MQTT and writes it to InfluxDB.\nRequires: node-red-contrib-influxdb\nInstall via: Manage Palette → Install → node-red-contrib-influxdb"
  },
  {
    "id": "mqtt-config",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-envertech",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "localhost",
    "port": "8086",
    "protocol": "http",
    "database": "solar",
    "name": "InfluxDB solar",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x",
    "url": "http://localhost:8086",
    "rejectUnauthorized": true
  },
  {
    "id": "mqtt-in-inverters",
    "type": "mqtt in",
    "z": "envertech-tab",
    "name": "Inverter Status",
    "topic": "envertech/+/status",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 120,
    "wires": [["func-parse-inverter"]]
  },
  {
    "id": "mqtt-in-combined",
    "type": "mqtt in",
    "z": "envertech-tab",
    "name": "Combined Status",
    "topic": "envertech/combined/status",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 320,
    "wires": [["func-parse-combined"]]
  },
  {
    "id": "func-parse-inverter",
    "type": "function",
    "z": "envertech-tab",
    "name": "Parse Inverter + Panels",
    "func": "// Extract inverter SN from topic: envertech/{sn}/status\nconst parts = msg.topic.split('/');\nconst inverterSn = parts[1];\n\n// Skip the combined virtual device\nif (inverterSn === 'combined') return null;\n\nconst data = msg.payload;\nif (!data || data.total_power === undefined) return null;\n\nconst points = [];\n\n// Inverter-level measurement\npoints.push({\n    measurement: 'solar_inverter',\n    tags: { inverter_sn: inverterSn },\n    fields: {\n        total_power:  parseFloat(data.total_power)  || 0,\n        total_energy: parseFloat(data.total_energy) || 0,\n        panel_count:  parseInt(data.panel_count)    || 0,\n    }\n});\n\n// Per-panel measurements\nconst panelCount = parseInt(data.panel_count) || 0;\nfor (let i = 0; i < panelCount; i++) {\n    const panel = data['panel_' + i];\n    if (!panel) continue;\n    points.push({\n        measurement: 'solar_panel',\n        tags: {\n            inverter_sn: inverterSn,\n            panel_index: String(i),\n            panel_sn:    panel.mi_sn || 'unknown',\n        },\n        fields: {\n            power:         parseFloat(panel.power)         || 0,\n            energy:        parseFloat(panel.energy)        || 0,\n            input_voltage: parseFloat(panel.input_voltage) || 0,\n            temperature:   parseFloat(panel.temperature)   || 0,\n            grid_voltage:  parseFloat(panel.grid_voltage)  || 0,\n            frequency:     parseFloat(panel.frequency)     || 0,\n        }\n    });\n}\n\nmsg.payload = points;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 120,
    "wires": [["influxdb-out-inverter"]]
  },
  {
    "id": "func-parse-combined",
    "type": "function",
    "z": "envertech-tab",
    "name": "Parse Combined",
    "func": "const data = msg.payload;\nif (!data || data.total_power === undefined) return null;\n\nmsg.payload = [{\n    measurement: 'solar_combined',\n    tags: { source: 'all_inverters' },\n    fields: {\n        total_power:  parseFloat(data.total_power)  || 0,\n        total_energy: parseFloat(data.total_energy) || 0,\n        panel_count:  parseInt(data.panel_count)    || 0,\n    }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 320,
    "wires": [["influxdb-out-combined"]]
  },
  {
    "id": "influxdb-out-inverter",
    "type": "influxdb out",
    "z": "envertech-tab",
    "influxdb": "influxdb-config",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "database": "solar",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 660,
    "y": 120,
    "wires": []
  },
  {
    "id": "influxdb-out-combined",
    "type": "influxdb out",
    "z": "envertech-tab",
    "influxdb": "influxdb-config",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "database": "solar",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 660,
    "y": 320,
    "wires": []
  },
  {
    "id": "comment-setup",
    "type": "comment",
    "z": "envertech-tab",
    "name": "Setup: edit mqtt-config and influxdb-config nodes with your connection details",
    "info": "1. Double-click the 'mqtt-config' config node and set your broker address.\n2. Double-click the 'influxdb-config' config node and set your InfluxDB host/database.\n3. For InfluxDB 2.x: set influxdbVersion to '2.0', add your org/bucket/token.\n4. Deploy the flow.",
    "x": 330,
    "y": 40,
    "wires": []
  }
]
